body {
    background-color: lightgrey
}

h1 {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 100%;
    font-style: italic
}

p{
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 100%
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 0;
}

figcaption {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 100%;
    font-size: 1.3rem
}

#img-div {
    background: white;
    padding: 10px;
    margin: 0 auto;
}

::marker {
    color: rgb(255, 0, 0);
    font-size: 1.2rem;
}

h2 {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 100%;
    font-size: 2rem;
}

li {
    font-size: 1.2rem
}

blockquote {
    font-style: italic;
    max-width: 545px;
    margin: 0 auto 50px auto;
    text-align: left;
    font-size: 1.5rem;
}

h3 {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 100%;
    font-weight: bold;
    font-size: 1.17em;
}

div {
    display:block;
    padding: 100px;
    text-align: left;

}